 <div class="container">
    <div class="row">
    
        <div>
            <%= button_to "ログイン", users_path,class: "btn btn-primary", method: :get %>
        </div>

        <div>
            <%= button_to "新規登録", new_log_registration_path,class: "btn btn-primary", method: :get %>
        </div>
    
    </div>
</div>